# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\pygit\201900301018-邓硕\媒体播放器\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
